<md-content flex md-scroll-y>
    <div layout="row">
        <div layout="column" flex="10"></div>
    <div layout="column" flex="80">
        <div layout="column" layout-fill layout-padding>

            <div ng-repeat="post in posts">
                <md-card>
                    <md-card-title class="cardContainer">
                        <md-card-title-text>
                            <span class="md-display-2"><a href="{{post.url}}">{{post.title}}</a></span>
                            <div class="md-subhead">posted on {{post.date | date: 'MM/dd/yyyy @ h:mma'}} by <b> {{post.author}}</b></div>
                        </md-card-title-text>
                        <md-card-title-text>
                            <span class="md-subhead"><a href="#viewPost/{{post.topic}}/{{post.id}}">comments</a> (posted in {{post.topic}})</span>
                        </md-card-title-text>
                        <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-model="post.votes" ng-click="downVote(post)" class=" md-accent">Downvote</md-button>
                        <p id="votes" class="votes"><b>{{post.votes}}</b></p>
                        <md-button ng-model="post.votes" ng-click="upVote(post)" class=" green ">Upvote</md-button>
                    </md-card-actions>
                    </md-card-title>
                    
                </md-card>
            </div>
        </div>
        </div>
    </div>
</md-content>

<br />
<br />
<br />
